$font1: "Fraunces", sans-serif;
$font2:  "Barlow", sans-serif;
$gray: #83888f;
$page: #FEFCF7;
$black: #333d4b;
$white_text: #fefcf7;
$dark_gray: #2C343E;
$teal: #0e8784;
$light_orange: #FDD6BA;
$ligght_teal: #66D2CF;